/* *{ */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */

/* li{ */
/* 	width: 300px; */
/* } */
.form,
.ulwrapper,
.footer,
.header{
	display: flex;
	justify-content: center;
}

.ul > li{
	font-size: 2em;
	list-style-type: none;
}

.title{
	font-size: 3em; 
}

.data,
.addButton{
	height: 30px;
	margin-left: 10px;
}

.data{
	width: 15em;
	font-size: 1em;
	border: solid 1px rgba(170, 170, 170, 0);
	border-bottom: solid 1px #fff;
	color: #fff;
	background-color: rgba(170, 170, 170, 0.9);
	text-shadow: 1px 1px #000;

}

.addButton{
	background-color: #fff;
	color: #000;
	width: 100px;
}

.body{
	background-color: #222;
	color: #fff;
}

.remove{
	margin-right: 5px;
}

.header{
	background-color: #555;
	margin-bottom: 10px;
}
